#image2 {width:128px; height:128px }
#image3 {width:128px; height:auto }
#image6 {float:left}
#image5 {float:right}

#paragraphe4 {line-height:15px ; width:500px}

#paragraphe5 {line-height:15px}

#trait{width:150px;}